---

const { title, url,date,description } = Astro.props
---
<div class="blog-post-card">
    <div class="blog-post-content">
      <h2 class="blog-post-title"><a href={url}>{title}</a></h2>
      <p class="blog-post-description">{description}</p>
      <span class="blog-post-date">{date}</span>
    </div>
  </div>
