<footer class="bg-gray-800 text-white p-4">
    <div class="container mx-auto text-center">
      <p class="text-sm mt-2">
        <a href="https://github.com/Adhishtanaka/Astro-blog-template" target="_blank" rel="noopener noreferrer"
           class="hover:text-blue-500 transition duration-300">
          View on GitHub
        </a>
      </p>
    </div>
  </footer>