---

---
<div class="space-x-4">
    <a href="/" class="text-black hover:text-blue-400">Home</a>
    <a href="/admin" class="text-black hover:text-blue-400">Admin</a>
    <a href="/rss.xml" class="text-black hover:text-blue-400">RSS</a>
</div>