---

---
<div class="space-x-4">
    <a href="/" class="text-black hover:text-blue">Home</a>
    <a href="/admin" class="text-black hover:text-blue">Admin</a>
    <a href="/rss.xml" class="text-black hover:text-blue">RSS</a>
</div>