---
import Navigation from '../components/Navigation.astro';
import SEO from '../components/SEO.astro'
const { frontmatter } = Astro.props;
---

<html lang="en">
<head>
    <SEO title={frontmatter.title} description={frontmatter.description} image={frontmatter.image}/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<center class="py-4">
<Navigation></Navigation></center>
<body class="font-sans">
    <main class="max-w-screen-xl mx-auto p-4">
        <article>
            <div class="hero-image">
                <img class="mx-auto rounded-lg shadow" width="600" src={frontmatter.image} alt="" />
            </div>
            <div class="prose mx-auto p-4 max-w-3xl text-gray-dark">
                <div class="title text-center">
                    <hr />
                </div>
                <slot />
            </div>
        </article>
    </main>
</body>
</html>
